@import "fonts";
@import "colors";
.footer-wrapper {
  background-color: $background02-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1em;
  line-height: 1.8em;
  font-family: "Libre Baskerville", sans-serif;
  border-top: 3px solid $accent-color01;
}
