@use "sass:color";
@import "fonts";
@import "colors";
// ---------------------------
.header-container {
  height: 85vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/valentino-funghi-VRr9a2rOoBI-unsplash.jpg");
  font-size: 1.4em;
  font-family: $Matemasie;
  background-color: $background02-color;
}
.header-title {
  position: relative;
  top: 20vh;
  left: 60vw;
  padding: 30px;
  letter-spacing: 0.15em;
  text-shadow: 4px 4px darken($title-color, 13%);
}
