@import "colors";
@import "fonts";
// ----
.jazz-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  border-top: 3px solid $accent-color01;
  background-color: $background02-color;
}

.introduction-title {
  font-family: "Matemasie", serif;
  letter-spacing: 0.2em;
  padding: 4vh;
}

.txt-section {
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 60vw;
  margin-bottom: 4vh;
  font-family: "Libre Baskerville", sans-serif;
}

.img-introduction {
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/alberto-bigoni-4-DeS5a-hAM-unsplash.jpg");
}
