@import "colors";
@import "fonts";
// ----
.jazz-legends {
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  align-items: center;
  height: auto;
  background-color: $background01-color;
  font-family: "Matemasie", serif;
  letter-spacing: 0.2em;
  padding: 4vh;
  text-shadow: 2px 2px darken($title-color, 16%);
}
.wrapper {
  border: 3px solid $accent-color01;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-grow: 2;
}
.biogram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.4;
  background-color: lighten($first-color, 24%);
  font-family: "Libre Baskerville", sans-serif;
  text-shadow: none;
  border-radius: 18px;
  box-shadow: 6px 6px 5px 2px darken($title-color, 10%);
  max-width: 60vw;
  padding: 20px;
}
.description {
  margin-top: 3vh;
}
.legends-h1 {
  margin-left: 4vw;
  margin-right: -9vw;
}

.img-legends {
  height: 50vh;
  width: 100vw;
  background-image: url("../assets/mick-haupt-CbNBjnXXhNg-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center 21%;
  background-size: cover;
  margin-top: 2vh;
}

.title {
  font-size: 1.2em;
  color: $title-color;
  padding-right: 12vw;
  text-shadow: 2px 2px 2px $first-color;
}
