@import "colors";
@import "fonts";
// ----
.img-news {
  background-image: url("../assets/darius-F8E2tks5N04-unsplash.jpg");
  height: 60vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-wrapper {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background01-color;
}
